.left{
    float:left;
}
.right{
    float:right;
}
.border-thin{
    border-bottom: 1px solid #ccc;
}
.grey-bg{
    background-color: #EFEFEF;
}
.paddingAllLarge{
    padding: 16px;
}
.margin-tb-Large{
    margin: 16px 0px;
}
header{
    h1{
        padding:32px;
        color: #062e47;
    }
}
.form-group{
    label{
        padding:8px 0px;
    }
}